body{
    background: rgb(0, 0, 0);
}
a#icone{
    padding-left: 10px;
    padding-right: 10px;
}
img#indexicone{
    height: 40px;
    width: 35px;
}
body,ul,li,p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    background: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 10px;
}
.menu li a{
    display: block;
    padding: 10px;
}
li.icone{
    background: green;
    height: auto;
    width: 300px;
    margin: 20px;
}
img{
    text-align: center;
}
h1{
    color: green;
    text-align: center;
}
ul{
    display: flex;
    flex-wrap: wrap;
}