.flex{
    max-width: 300px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
}
.item{
    background-color: aqua;
    margin: 5px;

}
div.flex_row {
    max-width: 300px;
    padding: 10px;
    border: 2px solid yellow;
    display: flex;
    flex-direction: row;
}
div.flex_row-reverse {
    max-width: 300px;
    padding: 10px;
    border: 2px solid rgb(234, 0, 255);
    display: flex;
    flex-direction: row-reverse;
}
div.flex_column {
    max-width: 80px;
    padding: 10px;
    border: 2px solid rgb(7, 9, 139);
    display: flex;
    flex-direction: column;
}
div.flex_column-reverse {
    max-width: 80px;
    padding: 10px;
    border: 2px solid rgb(255, 51, 0);
    display: flex;
    flex-direction: column-reverse;
}
.flex_wrap {
    max-width: 80px;
    padding: 10px;
    border: 2px solid rgb(3, 175, 89);
    display: flex;
    flex-wrap: wrap;
}
.flex_wrap-reverse {
    max-width: 80px;
    height: 10px;
    padding: 50px;
    border: 2px solid rgb(52, 161, 30);
    display: flex;
    flex-wrap: wrap-reverse;
}