
* {
    font-family: arial, helvetica, sans-serif;
    font-size: 16px; 
}
body{
    background-color: pink;
}
main{
    background-color: aqua;
    width: auto;
    height: auto;
}
article{
    background-color: white;
}
table{
float: inline-end;
}
p{
    background-color: black;
    width: 150px;
    height: 100px;
}
iframe{
    width: 150px;
    height: 100px;
}