* {
    font-family: arial, helvetica, sans-serif;
    font-size: 16px; 
}
body{
    background-color: blue;
}
main.cabeçalho{
    width: auto;
}
main{
    background-color: pink;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.212);
}
img.lado {
    float: left;
}
img.icone {
    margin:auto;
    border: auto;
    padding:160px, 500px;
    width: 150px;
    float: left;
}