
* {
    font-family: arial, helvetica, sans-serif;
    font-size: 16px; 
}
main{
    background-color: pink;
    width: 1600px;
    height: 100px;
    margin: auto;
    border: 10px;
    padding: auto;
}