* {
    font-family: arial, helvetica, sans-serif;
    font-size: 16px
}
body,ul,li,p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    background: rgb(160, 0, 192);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 10px;
}
.menu li a{
    display: block;
    padding: 10px;
}
body{
    background-color: rgb(0, 0, 0);
}
h1{
    background-color: yellow;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    color: black;
    margin: 5px;
}
button{
    background-color: yellow;
    font-size: 10px;
    width: 70px;
    margin: 0;
}
a{
    color: #ffffff;
    padding-left: 250px;
    padding-right: 250px;
}
a#icone{
    padding-left: 10px;
    padding-right: 10px;
}
img#indexicone{
    height: 40px;
    width: 35px;
}
section{
    display: flex;
    flex-wrap: wrap;
}
header#lista{
    display: flex;
    flex-direction: column;
}
iframe{
    width: 990px;
    height: 550px;
    margin-left: 150px;
}
#buner{
    margin-left: 150px;
}
p{
    color: white;
    font-size: 10px;
    margin-top: 2px;
} 
@media (max-width: 1300px){
    iframe{
        width: 900px;
        height: 500px;
        margin-left: 100px;
    }
    section{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    img#buner{
        width: 900px;
        height: 500px;
        margin-left: 100px;
    }
    button{
        background-color: yellow;
        font-size: 10px;
        width: 80px;
        height: 40px;
        padding: auto;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    @media (max-width: 900px){
        iframe{
            width: 700px;
            height: 400px;
            margin-left: 50px;
        }
        section{
            display: flex;
            flex-wrap: wrap-reverse;
        }
        img#buner{
            width: 700px;
            height: 400px;
            margin-left: 50px;
        }
        button{
            background-color: yellow;
            font-size: 10px;
            width: 80px;
            height: 40px;
            padding: auto;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
        }
        @media (max-width: 700px){
            iframe{
                width: 480px;
                height: 280px;
                margin-left: 10px;
            }
            section{
                display: flex;
                flex-wrap: wrap-reverse;
            }
            img#buner{
                width: 480px;
                height: 280px;
                margin-left: 10px;
            }
            button{
                background-color: yellow;
                font-size: 10px;
                width: 80px;
                height: 40px;
                padding: auto;
            }
            ul{
                display: flex;
                flex-wrap: wrap;
            }
            @media (max-width: 500px){
                iframe{
                    width: 300px;
                    height: 200px;
                    margin-left: 5px;
                }
                section{
                    display: flex;
                    flex-wrap: wrap-reverse;
                }
                img#buner{
                    width: 300px;
                    height: 200px;
                    margin-left: 5px;
                }
                button{
                    background-color: yellow;
                    font-size: 10px;
                    width: 80px;
                    height: 40px;
                    padding: auto;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
}